.free-svg{
  background-image: url("sprites/free.svg")
}

.toast{
  position: absolute; top: 0; right: 0;
  margin:20px;
}

[id^="excerpt_"] {
  height:7.5rem!important;
}

.ck-editor__editable {
  min-height: 550px !important;
}

.nav-tabs .nav-link{
  border:0!important;
}

.custom-tab.active {
  background: transparent !important;
  color: var(--cui-link-color) !important;
  border:0;
  border-bottom: 2px solid var(--cui-link-color) !important;
  border-radius: 0px !important;
}

.card-header-text-lh {
  line-height:1;
  margin-top:10px;
  display:inline-block;
}
.container-3xl{
  max-width:1700px;
  margin-left:auto;
  margin-right:auto;
}

.table-striped > tbody > tr > td.title,
.table-striped > tbody > tr > td.slug{
  width:20%;
}